* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    background: linear-gradient(rgba(213, 218, 255, 0.98), rgb(114, 116, 247), rgba(127, 125, 255, 0.98));
    width: 240px;
    height: 100vh;
    box-shadow: 2px 2px 20px black;
    transition: all 0.2s ease;
    z-index: 1;
    /* padding-top: 12px; */
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.btn {
    width: 8rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    border: 3px ridge black;
    box-shadow: 2px 2px black;
    cursor: pointer;
    background-image: linear-gradient(rgb(210, 245, 255), rgb(203, 244, 254), rgb(155, 240, 255));
}

.btn:hover {
    transform: scale(1.04);
    background-image: linear-gradient(rgb(201, 252, 255), rgb(113, 255, 255), rgb(110, 243, 255));
}

.btn:active {
    transform: translateY(3px);
}

.sidebarGo {
    transform: translateX(-280px);
    position: absolute;
}

.hamburger {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
}

.ham {
    cursor: pointer;
    margin-left: 0.5rem;
}

.cross {
    cursor: pointer;
    margin-left: 190px;
}

.sidebar nav {
    padding: 45px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.main {
    height: 99vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
}

.main::before {
    content: "";
    background: url(../images/ratingbg.jpg);
    background-repeat: no-repeat fill;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.19;
    width: 100%;
    height: 100%;
}

.infoContainer {
    /* border: 2px solid red; */
    height: 95vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile{
    border-bottom: 2px solid black;
    height: 22vh;
    width: 90vw;
    margin: 0.4rem;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 14vw;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    display: flex;
    width: 10vw;
    height: 18vh;
    border: 0px solid black ;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74vw;
    flex-wrap: wrap;
    height: 22vh;
}
.box{
    width: 18vw;
    height: 6.4vh;
    border: 2px solid rebeccapurple;
    background: linear-gradient(rgb(255, 255, 236), rgb(255, 255, 196), rgb(255, 255, 161));
    margin: 0.1rem 1rem 0rem 1rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
}
.box:hover{
    transform: scale(1.03);
}
